
#heading {
    margin: auto;
    padding-left: 40px;
    padding-top: 35px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, .4);
}
#headingback {
    background: url('aurabor.jpg');
    width: 100%;
    height: 0;
    padding-bottom: 35%;
}
#subheading {
    color:#e30000;
}
#resume {
    visibility: hidden;
    font-size: 10pt;
    float: left;
    background: rgba(128, 128, 128, .4);
    border: solid black 4px;
    max-width: 300px;
    margin-top: 25px;
}
table {
    padding: 5px;
}
th {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}
#content {
    
    text-align: center;

}
.textlink:hover {
    color: red;
}
.piclink:hover {
    background-color: red;
}
body {
    /*background: rgba(255, 255, 255, .4);*/
    margin: 0%;
    font-family: "Verdana", Geneva, sans-serif;
}
/*
html { 
    background: url('aurabor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}*/
.project{
    width: 50%;
}
.piclink {
    width: 50%;
}
.videocontainer {
    position: relative;
     width: 50%;
     height: 0;
     padding-bottom: 28.125%;
}
.iframevid {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
@media screen and (max-height: 600px) {
    th {font-size: 10px;}
    td {font-size: 10px;}
    #heading {max-height: 100px;}
    #headingPic {max-height: 75px;}
}
@media screen and (max-width: 600px) {
    .videocontainer {
        position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
    }
    .project{
        width: 100%;
    }
    .piclink {
        width: 100%;
    }
}