#heading {
    margin: -20px;
    padding-left: 40px;
    padding-top: 35px;
    min-width: 100%;
    padding-bottom: 10px;
    background-color: black;
    border-bottom: solid red 10px;
}
#subheading {
    color:#e30000;
}
#resume {
    font-size: 11pt;
    float: left;
    background: rgba(128, 128, 128, .4);
    border: solid black 4px;
    max-width: 300px;
    margin-top: 25px;
}
#resume_table {
    max-width:50%;
}
table {
    padding: 5px;
}
th {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}
#content {
    margin-top: 40px;
    padding-left: 400px;

}
#PortfolioHeader {
    max-width: 75%;
    border-bottom: solid black 2px;
}
.textlink:hover {
    color: red;
}
.piclink:hover {
    background-color: red;
}
body {
    font-family: "Verdana", Geneva, sans-serif;
    background: url("https://github.com/blitzolsen/blitzolsen.github.io/blob/master/RedSpace.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-height: 600px) {
    th {font-size: 10px;}
    td {font-size: 10px;}
    #heading {max-height: 100px;}
    #headingPic {max-height: 75px;}
}